In [10]:
import pandas as pd
import numpy as np
import matplotlib as mp
from utils import *
import tiingo
import seaborn as sns
import requests
import json

In [31]:
AAPL, AMZN, BABA, CRM, FB, GOOGL, MSFT, NFLX, TSLA, WMT = load_training_data()

In [32]:
tickers = [AAPL, AMZN, BABA, CRM, FB, GOOGL, MSFT, NFLX, TSLA, WMT]

In [33]:
for df in tickers:
    display(df.tail())

,Ticker,Start,End,Open,Close,High,Low,Volume,Average
257,AAPL,2019-05-20,2019-05-26,183.520004,178.970001,188.000000,177.809998,156970100,182.904999
258,AAPL,2019-05-27,2019-06-02,178.919998,175.070007,180.589996,174.990005,104691400,177.790000
259,AAPL,2019-06-03,2019-06-09,175.600006,190.149994,191.919998,170.270004,154348200,181.095001
260,AAPL,2019-06-10,2019-06-16,191.809998,192.740005,196.789993,190.300003,111843100,193.544998
261,AAPL,2019-06-17,2019-06-23,192.899994,198.449997,200.289993,192.169998,40757000,196.229996

,Ticker,Start,End,Open,Close,High,Low,Volume,Average
257,AMZN,2019-05-20,2019-05-26,1852.689941,1823.280029,1879.000000,1804.199951,18533900,1841.599975
258,AMZN,2019-05-27,2019-06-02,1832.750000,1775.069946,1849.270020,1772.699951,15244700,1810.984985
259,AMZN,2019-06-03,2019-06-09,1760.010010,1804.030029,1806.250000,1672.000000,27515100,1739.125000
260,AMZN,2019-06-10,2019-06-16,1822.000000,1869.670044,1893.699951,1818.000000,17739000,1855.849975
261,AMZN,2019-06-17,2019-06-23,1876.500000,1901.369995,1921.670044,1875.449951,6506200,1898.559998

,Ticker,Start,End,Open,Close,High,Low,Volume,Average
244,BABA,2019-05-20,2019-05-26,164.440002,155.000000,165.589996,154.410004,129632700,160.000000
245,BABA,2019-05-27,2019-06-02,156.399994,149.259995,157.070007,147.949997,112902000,152.510002
246,BABA,2019-06-03,2019-06-09,149.600006,154.229996,156.110001,148.845001,109461000,152.477501
247,BABA,2019-06-10,2019-06-16,158.779999,158.100006,165.679993,157.229996,108764000,161.454994
248,BABA,2019-06-17,2019-06-23,157.529999,165.509995,169.110001,157.419998,51532000,163.265000

,Ticker,Start,End,Open,Close,High,Low,Volume,Average
257,CRM,2019-05-20,2019-05-26,152.470001,154.509995,158.190002,151.699997,20070700,154.945000
258,CRM,2019-05-27,2019-06-02,155.350006,151.410004,157.809998,151.199997,19038600,154.504998
259,CRM,2019-06-03,2019-06-09,150.699997,161.270004,162.990005,142.509995,46059200,152.750000
260,CRM,2019-06-10,2019-06-16,153.479996,150.009995,157.449997,148.789993,63653900,153.119995
261,CRM,2019-06-17,2019-06-23,150.199997,150.589996,152.949997,149.869995,11785700,151.409996

,Ticker,Start,End,Open,Close,High,Low,Volume,Average
257,FB,2019-05-20,2019-05-26,181.880005,181.059998,186.740005,179.669998,48645100,183.205002
258,FB,2019-05-27,2019-06-02,181.539993,177.470001,184.710007,177.160004,51449000,180.935005
259,FB,2019-06-03,2019-06-09,175.000000,173.350006,175.050003,160.839996,151225900,167.945000
260,FB,2019-06-10,2019-06-16,174.750000,181.330002,181.839996,172.880005,76761600,177.360000
261,FB,2019-06-17,2019-06-23,185.009995,188.470001,194.529999,184.410004,66691500,189.470001

,Ticker,Start,End,Open,Close,High,Low,Volume,Average
257,GOOGL,2019-05-20,2019-05-26,1153.000000,1138.609985,1163.780029,1133.160034,5687900,1148.470032
258,GOOGL,2019-05-27,2019-06-02,1141.479980,1106.500000,1156.489990,1103.349976,5342400,1129.919983
259,GOOGL,2019-06-03,2019-06-09,1066.930054,1068.369995,1073.430054,1027.030029,13861900,1050.230041
260,GOOGL,2019-06-10,2019-06-16,1077.000000,1086.300049,1104.010010,1069.599976,6554200,1086.804993
261,GOOGL,2019-06-17,2019-06-23,1089.099976,1105.239990,1118.780029,1088.000000,2706500,1103.390015

,Ticker,Start,End,Open,Close,High,Low,Volume,Average
257,MSFT,2019-05-20,2019-05-26,126.519997,126.239998,128.240005,124.739998,92123900,126.490001
258,MSFT,2019-05-27,2019-06-02,126.980003,123.680000,128.000000,123.320000,89367900,125.660000
259,MSFT,2019-06-03,2019-06-09,123.849998,131.399994,132.250000,119.010002,147636900,125.630001
260,MSFT,2019-06-10,2019-06-16,132.399994,132.449997,134.240005,130.710007,102505800,132.475006
261,MSFT,2019-06-17,2019-06-23,132.630005,135.160004,135.240005,132.529999,40228900,133.885002

,Ticker,Start,End,Open,Close,High,Low,Volume,Average
257,NFLX,2019-05-20,2019-05-26,351.230011,354.390015,370.459991,345.399994,24338700,357.929992
258,NFLX,2019-05-27,2019-06-02,354.390015,343.279999,361.200012,342.920013,19407400,352.060013
259,NFLX,2019-06-03,2019-06-09,343.559998,360.869995,365.149994,332.649994,29248600,348.899994
260,NFLX,2019-06-10,2019-06-16,363.649994,339.730011,367.100006,336.160004,29020000,351.630005
261,NFLX,2019-06-17,2019-06-23,342.690002,357.119995,361.500000,342.059998,10744200,351.779999

,Ticker,Start,End,Open,Close,High,Low,Volume,Average
257,TSLA,2019-05-20,2019-05-26,202.800003,190.630005,207.399994,186.220001,97899000,196.809998
258,TSLA,2019-05-27,2019-06-02,191.199997,185.160004,195.000000,184.100006,40614700,189.550003
259,TSLA,2019-06-03,2019-06-09,185.509995,204.500000,211.000000,176.990005,76628400,193.995002
260,TSLA,2019-06-10,2019-06-16,210.250000,214.919998,223.380005,207.509995,53037700,215.445000
261,TSLA,2019-06-17,2019-06-23,215.479996,224.740005,234.740005,214.270004,24985700,224.505005

,Ticker,Start,End,Open,Close,High,Low,Volume,Average
257,WMT,2019-05-20,2019-05-26,100.389999,102.669998,102.889999,100.250000,32361900,101.569999
258,WMT,2019-05-27,2019-06-02,102.559998,101.440002,103.570000,100.599998,27739000,102.084999
259,WMT,2019-06-03,2019-06-09,101.629997,106.059998,106.360001,101.400002,34355600,103.880002
260,WMT,2019-06-10,2019-06-16,106.480003,109.070000,109.589996,106.370003,27719000,107.980000
261,WMT,2019-06-17,2019-06-23,109.120003,109.650002,109.959999,108.260002,9009800,109.110000

In [40]:
def get_json(ticker, start, end):
    query_base = "https://api.tiingo.com/tiingo/news?tickers={0}&startDate={1}&endDate={2}&limit=10"
    api_token = 'a265fc4a1013923f970d16e7348195074e97fcb0'
    headers = {'Content-Type': 'application/json',
               'Authorization': 'Token a265fc4a1013923f970d16e7348195074e97fcb0'}
    query = query_base.format(ticker, start, end)
    print("query searched : {0}".format(query))
    response = requests.get(query, headers=headers)
    g = json.loads(response.content.decode('utf-8'))
    return g

def generate_text_column(json_output):
    result = []
    for article in json_output:
        title = article["title"]
        desc = article["description"]
        url = article["url"]
        article_text = title + " " + desc + " " + url
        result.append(article_text)
    return result

def add_news_text(df):
    js_func = lambda df: get_json(df["Ticker"], df["Start"], df["End"])
    df["JSON"] = df.apply(js_func, axis=1)
    df["ArticleText"] = df["JSON"].apply(generate_text_column)
    return df

In [ ]:
example = add_news_text(CRM)

query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2014-06-16&endDate=2014-06-22&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2014-06-23&endDate=2014-06-29&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2014-06-30&endDate=2014-07-06&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2014-07-07&endDate=2014-07-13&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2014-07-14&endDate=2014-07-20&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2014-07-21&endDate=2014-07-27&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2014-07-28&endDate=2014-08-03&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2014-08-04&endDate=2014-08-10&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2014-08-11&endDate=2014-08-17&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2014-08-18&endDate=2014-08-24&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2014-08-25&endDate=2014-08-31&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2014-09-01&endDate=2014-09-07&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2014-09-08&endDate=2014-09-14&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2014-09-15&endDate=2014-09-21&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2014-09-22&endDate=2014-09-28&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2014-09-29&endDate=2014-10-05&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2014-10-06&endDate=2014-10-12&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2014-10-13&endDate=2014-10-19&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2014-10-20&endDate=2014-10-26&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2014-10-27&endDate=2014-11-02&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2014-11-03&endDate=2014-11-09&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2014-11-10&endDate=2014-11-16&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2014-11-17&endDate=2014-11-23&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2014-11-24&endDate=2014-11-30&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2014-12-01&endDate=2014-12-07&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2014-12-08&endDate=2014-12-14&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2014-12-15&endDate=2014-12-21&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2014-12-22&endDate=2014-12-28&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2014-12-29&endDate=2015-01-04&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-01-05&endDate=2015-01-11&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-01-12&endDate=2015-01-18&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-01-19&endDate=2015-01-25&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-01-26&endDate=2015-02-01&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-02-02&endDate=2015-02-08&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-02-09&endDate=2015-02-15&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-02-16&endDate=2015-02-22&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-02-23&endDate=2015-03-01&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-03-02&endDate=2015-03-08&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-03-09&endDate=2015-03-15&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-03-16&endDate=2015-03-22&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-03-23&endDate=2015-03-29&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-03-30&endDate=2015-04-05&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-04-06&endDate=2015-04-12&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-04-13&endDate=2015-04-19&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-04-20&endDate=2015-04-26&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-04-27&endDate=2015-05-03&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-05-04&endDate=2015-05-10&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-05-11&endDate=2015-05-17&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-05-18&endDate=2015-05-24&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-05-25&endDate=2015-05-31&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-06-01&endDate=2015-06-07&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-06-08&endDate=2015-06-14&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-06-15&endDate=2015-06-21&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-06-22&endDate=2015-06-28&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-06-29&endDate=2015-07-05&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-07-06&endDate=2015-07-12&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-07-13&endDate=2015-07-19&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-07-20&endDate=2015-07-26&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-07-27&endDate=2015-08-02&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-08-03&endDate=2015-08-09&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-08-10&endDate=2015-08-16&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-08-17&endDate=2015-08-23&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-08-24&endDate=2015-08-30&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-08-31&endDate=2015-09-06&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-09-07&endDate=2015-09-13&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-09-14&endDate=2015-09-20&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-09-21&endDate=2015-09-27&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-09-28&endDate=2015-10-04&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-10-05&endDate=2015-10-11&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-10-12&endDate=2015-10-18&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-10-19&endDate=2015-10-25&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-10-26&endDate=2015-11-01&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-11-02&endDate=2015-11-08&limit=10

query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-11-09&endDate=2015-11-15&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-11-16&endDate=2015-11-22&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-11-23&endDate=2015-11-29&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-11-30&endDate=2015-12-06&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-12-07&endDate=2015-12-13&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-12-14&endDate=2015-12-20&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-12-21&endDate=2015-12-27&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2015-12-28&endDate=2016-01-03&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-01-04&endDate=2016-01-10&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-01-11&endDate=2016-01-17&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-01-18&endDate=2016-01-24&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-01-25&endDate=2016-01-31&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-02-01&endDate=2016-02-07&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-02-08&endDate=2016-02-14&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-02-15&endDate=2016-02-21&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-02-22&endDate=2016-02-28&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-02-29&endDate=2016-03-06&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-03-07&endDate=2016-03-13&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-03-14&endDate=2016-03-20&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-03-21&endDate=2016-03-27&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-03-28&endDate=2016-04-03&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-04-04&endDate=2016-04-10&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-04-11&endDate=2016-04-17&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-04-18&endDate=2016-04-24&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-04-25&endDate=2016-05-01&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-05-02&endDate=2016-05-08&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-05-09&endDate=2016-05-15&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-05-16&endDate=2016-05-22&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-05-23&endDate=2016-05-29&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-05-30&endDate=2016-06-05&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-06-06&endDate=2016-06-12&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-06-13&endDate=2016-06-19&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-06-20&endDate=2016-06-26&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-06-27&endDate=2016-07-03&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-07-04&endDate=2016-07-10&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-07-11&endDate=2016-07-17&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-07-18&endDate=2016-07-24&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-07-25&endDate=2016-07-31&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-08-01&endDate=2016-08-07&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-08-08&endDate=2016-08-14&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-08-15&endDate=2016-08-21&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-08-22&endDate=2016-08-28&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-08-29&endDate=2016-09-04&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-09-05&endDate=2016-09-11&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-09-12&endDate=2016-09-18&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-09-19&endDate=2016-09-25&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-09-26&endDate=2016-10-02&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-10-03&endDate=2016-10-09&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-10-10&endDate=2016-10-16&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-10-17&endDate=2016-10-23&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-10-24&endDate=2016-10-30&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-10-31&endDate=2016-11-06&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-11-07&endDate=2016-11-13&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-11-14&endDate=2016-11-20&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-11-21&endDate=2016-11-27&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-11-28&endDate=2016-12-04&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-12-05&endDate=2016-12-11&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-12-12&endDate=2016-12-18&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-12-19&endDate=2016-12-25&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2016-12-26&endDate=2017-01-01&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-01-02&endDate=2017-01-08&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-01-09&endDate=2017-01-15&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-01-16&endDate=2017-01-22&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-01-23&endDate=2017-01-29&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-01-30&endDate=2017-02-05&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-02-06&endDate=2017-02-12&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-02-13&endDate=2017-02-19&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-02-20&endDate=2017-02-26&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-02-27&endDate=2017-03-05&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-03-06&endDate=2017-03-12&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-03-13&endDate=2017-03-19&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-03-20&endDate=2017-03-26&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-03-27&endDate=2017-04-02&limit=10

query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-04-03&endDate=2017-04-09&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-04-10&endDate=2017-04-16&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-04-17&endDate=2017-04-23&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-04-24&endDate=2017-04-30&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-05-01&endDate=2017-05-07&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-05-08&endDate=2017-05-14&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-05-15&endDate=2017-05-21&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-05-22&endDate=2017-05-28&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-05-29&endDate=2017-06-04&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-06-05&endDate=2017-06-11&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-06-12&endDate=2017-06-18&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-06-19&endDate=2017-06-25&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-06-26&endDate=2017-07-02&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-07-03&endDate=2017-07-09&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-07-10&endDate=2017-07-16&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-07-17&endDate=2017-07-23&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-07-24&endDate=2017-07-30&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-07-31&endDate=2017-08-06&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-08-07&endDate=2017-08-13&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-08-14&endDate=2017-08-20&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-08-21&endDate=2017-08-27&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-08-28&endDate=2017-09-03&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-09-04&endDate=2017-09-10&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-09-11&endDate=2017-09-17&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-09-18&endDate=2017-09-24&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-09-25&endDate=2017-10-01&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-10-02&endDate=2017-10-08&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-10-09&endDate=2017-10-15&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-10-16&endDate=2017-10-22&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-10-23&endDate=2017-10-29&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-10-30&endDate=2017-11-05&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-11-06&endDate=2017-11-12&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-11-13&endDate=2017-11-19&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-11-20&endDate=2017-11-26&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-11-27&endDate=2017-12-03&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-12-04&endDate=2017-12-10&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-12-11&endDate=2017-12-17&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-12-18&endDate=2017-12-24&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2017-12-25&endDate=2017-12-31&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-01-01&endDate=2018-01-07&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-01-08&endDate=2018-01-14&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-01-15&endDate=2018-01-21&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-01-22&endDate=2018-01-28&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-01-29&endDate=2018-02-04&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-02-05&endDate=2018-02-11&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-02-12&endDate=2018-02-18&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-02-19&endDate=2018-02-25&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-02-26&endDate=2018-03-04&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-03-05&endDate=2018-03-11&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-03-12&endDate=2018-03-18&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-03-19&endDate=2018-03-25&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-03-26&endDate=2018-04-01&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-04-02&endDate=2018-04-08&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-04-09&endDate=2018-04-15&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-04-16&endDate=2018-04-22&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-04-23&endDate=2018-04-29&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-04-30&endDate=2018-05-06&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-05-07&endDate=2018-05-13&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-05-14&endDate=2018-05-20&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-05-21&endDate=2018-05-27&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-05-28&endDate=2018-06-03&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-06-04&endDate=2018-06-10&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-06-11&endDate=2018-06-17&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-06-18&endDate=2018-06-24&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-06-25&endDate=2018-07-01&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-07-02&endDate=2018-07-08&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-07-09&endDate=2018-07-15&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-07-16&endDate=2018-07-22&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-07-23&endDate=2018-07-29&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-07-30&endDate=2018-08-05&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-08-06&endDate=2018-08-12&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-08-13&endDate=2018-08-19&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-08-20&endDate=2018-08-26&limit=10

query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-08-27&endDate=2018-09-02&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-09-03&endDate=2018-09-09&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-09-10&endDate=2018-09-16&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-09-17&endDate=2018-09-23&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-09-24&endDate=2018-09-30&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-10-01&endDate=2018-10-07&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-10-08&endDate=2018-10-14&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-10-15&endDate=2018-10-21&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-10-22&endDate=2018-10-28&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-10-29&endDate=2018-11-04&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-11-05&endDate=2018-11-11&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-11-12&endDate=2018-11-18&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-11-19&endDate=2018-11-25&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-11-26&endDate=2018-12-02&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-12-03&endDate=2018-12-09&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-12-10&endDate=2018-12-16&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-12-17&endDate=2018-12-23&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-12-24&endDate=2018-12-30&limit=10
query searched : https://api.tiingo.com/tiingo/news?tickers=CRM&startDate=2018-12-31&endDate=2019-01-06&limit=10

In [ ]:
example["ArticleText"]