In [100]:
import pandas as pd
import numpy as np
from tiingo import TiingoClient
import datetime

In [101]:
client = TiingoClient({"api_key": "a265fc4a1013923f970d16e7348195074e97fcb0"})

In [102]:
def query_ticker(ticker, start, end):
    articles = client.get_news(tickers=[ticker], startDate=start, endDate=end)
    return articles

In [103]:
def aggregate_jsons(json_list):
    result = ""
    for json in json_list:
        print("Working on a {0} of length {1}".format(type(json), len(json)))
        headline = json["title"]
        desc = json["description"]
        result += headline + " " + desc
    return result

def extract_urls(json_list):
    result = []
    for json in json_list:
        result.append(json["url"])
    return result

In [104]:
def calculate_date(start):
    g = pd.to_datetime(start, infer_datetime_format=True)
    end = g + datetime.timedelta(days=6)
    x = str(end.date())
    return x

In [105]:
def extract_ticker(name):
    name = name.lower()
    return name[0:-4]

In [106]:
# Go through each dataframe, add the necessary bois, and then read it back to a csv
df_bois = ["AAPL.csv", "AMZN.csv", "BABA.csv", "CRM.csv", "FB.csv", "GOOGL.csv","MSFT.csv", "NFLX.csv", "TSLA.csv", "WMT.csv"]

In [108]:
for df in df_bois:
    print("Working on {0}".format(df))
    d = pd.read_csv(df).head()
    ticker = extract_ticker(df)
    d["End"] = d["Date"].apply(calculate_date)
    d["JSON"] = d.apply(lambda x: query_ticker(ticker, x["Date"], x["End"]), axis=1)
    d["ArticleMeta"] = aggregate_jsons(d["JSON"])
    d["URLS"] = extract_urls(d["JSON"])
    #d.to_csv(df)
    print("Finished {0}".format(df))
    display(d.head())

Working on AAPL.csv
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Finished AAPL.csv

,Date,Open,High,Low,Close,Adj Close,Volume,Average,Ticker,End,JSON,ArticleMeta,URLS
0,2014-06-16,92.290001,92.550003,90.900002,90.910004,83.321236,136426000,91.725003,AAPL,2014-06-22,"[{'crawlDate': '2019-03-26T21:53:33.292599Z', ...",Semtech CEO Mohan Maheswaran sells over $2.6M ...,https://thefly.com/permalinks/entry.php/id2884...
1,2014-06-23,91.320000,92.000000,89.650002,91.980003,84.301926,216257000,90.825001,AAPL,2014-06-29,"[{'crawlDate': '2019-03-26T21:53:33.292599Z', ...",Semtech CEO Mohan Maheswaran sells over $2.6M ...,https://thefly.com/permalinks/entry.php/id2884...
2,2014-06-30,92.099998,94.099998,92.089996,94.029999,86.180794,139062100,93.094997,AAPL,2014-07-06,"[{'crawlDate': '2019-03-26T21:53:33.292599Z', ...",Semtech CEO Mohan Maheswaran sells over $2.6M ...,https://thefly.com/permalinks/entry.php/id2884...
3,2014-07-07,94.139999,96.800003,93.519997,95.220001,87.271454,231830000,95.160000,AAPL,2014-07-13,"[{'crawlDate': '2019-03-26T21:53:33.292599Z', ...",Semtech CEO Mohan Maheswaran sells over $2.6M ...,https://thefly.com/permalinks/entry.php/id2884...
4,2014-07-14,95.860001,97.099998,92.570000,94.430000,86.547401,248970200,94.834999,AAPL,2014-07-20,"[{'crawlDate': '2019-03-26T21:53:33.292599Z', ...",Semtech CEO Mohan Maheswaran sells over $2.6M ...,https://thefly.com/permalinks/entry.php/id2884...

Working on AMZN.csv
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Finished AMZN.csv

,Date,Open,High,Low,Close,Adj Close,Volume,Average,Ticker,End,JSON,ArticleMeta,URLS
0,2014-06-16,335.260010,338.899994,320.420013,324.200012,324.200012,11374600,329.660004,AMZN,2014-06-22,"[{'crawlDate': '2019-03-26T10:51:35.825331Z', ...",Zulily Ditches Demographics In Favor Of Lifest...,https://www.bizjournals.com/triad/news/2019/03...
1,2014-06-23,323.329987,329.730011,321.410004,324.570007,324.570007,12674900,325.570008,AMZN,2014-06-29,"[{'crawlDate': '2019-03-26T10:51:35.825331Z', ...",Zulily Ditches Demographics In Favor Of Lifest...,https://www.bizjournals.com/triad/news/2019/03...
2,2014-06-30,324.980011,338.299988,322.239990,337.489990,337.489990,10470500,330.269989,AMZN,2014-07-06,"[{'crawlDate': '2019-03-26T10:51:35.825331Z', ...",Zulily Ditches Demographics In Favor Of Lifest...,https://www.bizjournals.com/triad/news/2019/03...
3,2014-07-07,337.500000,347.000000,321.399994,346.200012,346.200012,20532400,334.199997,AMZN,2014-07-13,"[{'crawlDate': '2019-03-26T10:51:35.825331Z', ...",Zulily Ditches Demographics In Favor Of Lifest...,https://www.bizjournals.com/triad/news/2019/03...
4,2014-07-14,347.029999,359.679993,345.359985,358.660004,358.660004,20327800,352.519989,AMZN,2014-07-20,"[{'crawlDate': '2019-03-26T10:51:35.825331Z', ...",Zulily Ditches Demographics In Favor Of Lifest...,https://www.bizjournals.com/triad/news/2019/03...

Working on BABA.csv
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Finished BABA.csv

,Date,Open,High,Low,Close,Adj Close,Volume,Average,Ticker,End,JSON,ArticleMeta,URLS
0,2014-09-15,92.699997,99.699997,89.949997,93.889999,93.889999,271879400,94.824997,BABA,2014-09-21,"[{'crawlDate': '2019-03-26T10:37:56.587732Z', ...",How Alibaba is championing the application of ...,http://www.businesswire.com/news/home/20190326...
1,2014-09-22,92.699997,92.949997,86.620003,90.459999,90.459999,184693600,89.785000,BABA,2014-09-28,"[{'crawlDate': '2019-03-26T10:37:56.587732Z', ...",How Alibaba is championing the application of ...,http://www.businesswire.com/news/home/20190326...
2,2014-09-29,89.620003,90.879997,85.611000,88.099998,88.099998,113706400,88.245498,BABA,2014-10-05,"[{'crawlDate': '2019-03-26T10:37:56.587732Z', ...",How Alibaba is championing the application of ...,http://www.businesswire.com/news/home/20190326...
3,2014-10-06,89.150002,90.349998,85.239998,85.879997,85.879997,69251100,87.794998,BABA,2014-10-12,"[{'crawlDate': '2019-03-26T10:37:56.587732Z', ...",How Alibaba is championing the application of ...,http://www.businesswire.com/news/home/20190326...
4,2014-10-13,86.849998,90.900002,82.809998,87.910004,87.910004,79821200,86.855000,BABA,2014-10-19,"[{'crawlDate': '2019-03-26T10:37:56.587732Z', ...",How Alibaba is championing the application of ...,http://www.businesswire.com/news/home/20190326...

Working on CRM.csv
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Finished CRM.csv

,Date,Open,High,Low,Close,Adj Close,Volume,Average,Ticker,End,JSON,ArticleMeta,URLS
0,2014-06-16,57.970001,58.619999,57.009998,57.509998,57.509998,10691400,57.814999,CRM,2014-06-22,"[{'crawlDate': '2019-03-26T00:32:31.263290Z', ...",Introducing our 2018 Bay Area Real Estate Deal...,https://www.mareainformativa.com/news/2019/03/...
1,2014-06-23,57.450001,58.230000,56.630001,57.380001,57.380001,21251400,57.430000,CRM,2014-06-29,"[{'crawlDate': '2019-03-26T00:32:31.263290Z', ...",Introducing our 2018 Bay Area Real Estate Deal...,https://www.mareainformativa.com/news/2019/03/...
2,2014-06-30,57.349998,59.490002,57.349998,58.759998,58.759998,16718500,58.420000,CRM,2014-07-06,"[{'crawlDate': '2019-03-26T00:32:31.263290Z', ...",Introducing our 2018 Bay Area Real Estate Deal...,https://www.mareainformativa.com/news/2019/03/...
3,2014-07-07,58.720001,58.720001,53.299999,54.209999,54.209999,24775100,56.010000,CRM,2014-07-13,"[{'crawlDate': '2019-03-26T00:32:31.263290Z', ...",Introducing our 2018 Bay Area Real Estate Deal...,https://www.mareainformativa.com/news/2019/03/...
4,2014-07-14,54.689999,55.200001,52.480000,53.500000,53.500000,18586800,53.840001,CRM,2014-07-20,"[{'crawlDate': '2019-03-26T00:32:31.263290Z', ...",Introducing our 2018 Bay Area Real Estate Deal...,https://www.mareainformativa.com/news/2019/03/...

Working on FB.csv
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Finished FB.csv

,Date,Open,High,Low,Close,Adj Close,Volume,Average,Ticker,End,JSON,ArticleMeta,URLS
0,2014-06-16,65.459999,65.580002,63.349998,64.500000,64.500000,80711000,64.465000,FB,2014-06-22,"[{'crawlDate': '2019-03-26T15:19:18.610030Z', ...",Right Now Twitter Stock Is a Buy on Its Balanc...,https://www.nasdaq.com/article/right-now-twitt...
1,2014-06-23,64.320000,68.000000,64.220001,67.599998,67.599998,230378000,66.110000,FB,2014-06-29,"[{'crawlDate': '2019-03-26T15:19:18.610030Z', ...",Right Now Twitter Stock Is a Buy on Its Balanc...,https://www.nasdaq.com/article/right-now-twitt...
2,2014-06-30,67.459999,68.440002,65.760002,66.290001,66.290001,127444000,67.100002,FB,2014-07-06,"[{'crawlDate': '2019-03-26T15:19:18.610030Z', ...",Right Now Twitter Stock Is a Buy on Its Balanc...,https://www.nasdaq.com/article/right-now-twitt...
3,2014-07-07,66.300003,66.589996,62.209999,66.339996,66.339996,232737000,64.399997,FB,2014-07-13,"[{'crawlDate': '2019-03-26T15:19:18.610030Z', ...",Right Now Twitter Stock Is a Buy on Its Balanc...,https://www.nasdaq.com/article/right-now-twitt...
4,2014-07-14,67.129997,68.459999,66.040001,68.419998,68.419998,192935800,67.250000,FB,2014-07-20,"[{'crawlDate': '2019-03-26T15:19:18.610030Z', ...",Right Now Twitter Stock Is a Buy on Its Balanc...,https://www.nasdaq.com/article/right-now-twitt...

Working on GOOGL.csv
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Finished GOOGL.csv

,Date,Open,High,Low,Close,Adj Close,Volume,Average,Ticker,End,JSON,ArticleMeta,URLS
0,2014-06-16,561.150024,566.770020,556.669983,566.520020,566.520020,5788000,561.720002,GOOGL,2014-06-22,"[{'crawlDate': '2019-03-26T10:44:12.469768Z', ...","In the future, everyone might use quantum comp...",https://thefly.com/permalinks/entry.php/id2884...
1,2014-06-23,564.349976,589.599976,563.500000,585.690002,585.690002,10715500,576.549988,GOOGL,2014-06-29,"[{'crawlDate': '2019-03-26T10:44:12.469768Z', ...","In the future, everyone might use quantum comp...",https://thefly.com/permalinks/entry.php/id2884...
2,2014-06-30,586.760010,594.250000,583.289978,593.080017,593.080017,5216800,588.769989,GOOGL,2014-07-06,"[{'crawlDate': '2019-03-26T10:44:12.469768Z', ...","In the future, everyone might use quantum comp...",https://thefly.com/permalinks/entry.php/id2884...
3,2014-07-07,593.510010,595.650024,572.099976,586.650024,586.650024,7782500,583.875000,GOOGL,2014-07-13,"[{'crawlDate': '2019-03-26T10:44:12.469768Z', ...","In the future, everyone might use quantum comp...",https://thefly.com/permalinks/entry.php/id2884...
4,2014-07-14,590.599976,606.700012,576.849976,605.109985,605.109985,12873100,591.774994,GOOGL,2014-07-20,"[{'crawlDate': '2019-03-26T10:44:12.469768Z', ...","In the future, everyone might use quantum comp...",https://thefly.com/permalinks/entry.php/id2884...

Working on MSFT.csv
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Finished MSFT.csv

,Date,Open,High,Low,Close,Adj Close,Volume,Average,Ticker,End,JSON,ArticleMeta,URLS
0,2014-06-16,41.570000,41.830002,41.330002,41.680000,37.202457,67593100,41.580002,MSFT,2014-06-22,"[{'crawlDate': '2019-03-26T11:09:18.162168Z', ...",Why the next terror manifesto could be even ha...,https://www.houstonchronicle.com/news/article/...
1,2014-06-23,41.730000,42.290001,41.430000,42.250000,37.711227,163546500,41.860000,MSFT,2014-06-29,"[{'crawlDate': '2019-03-26T11:09:18.162168Z', ...",Why the next terror manifesto could be even ha...,https://www.houstonchronicle.com/news/article/...
2,2014-06-30,42.169998,42.209999,41.529999,41.799999,37.309570,93887500,41.869999,MSFT,2014-07-06,"[{'crawlDate': '2019-03-26T11:09:18.162168Z', ...",Why the next terror manifesto could be even ha...,https://www.houstonchronicle.com/news/article/...
3,2014-07-07,41.750000,42.119999,41.049999,42.090000,37.568409,117554200,41.584999,MSFT,2014-07-13,"[{'crawlDate': '2019-03-26T11:09:18.162168Z', ...",Why the next terror manifesto could be even ha...,https://www.houstonchronicle.com/news/article/...
4,2014-07-14,42.220001,45.709999,42.029999,44.689999,39.889099,239535600,43.869999,MSFT,2014-07-20,"[{'crawlDate': '2019-03-26T11:09:18.162168Z', ...",Why the next terror manifesto could be even ha...,https://www.houstonchronicle.com/news/article/...

Working on NFLX.csv
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Finished NFLX.csv

,Date,Open,High,Low,Close,Adj Close,Volume,Average,Ticker,End,JSON,ArticleMeta,URLS
0,2014-06-16,64.204285,64.212860,62.139999,62.882858,62.882858,30530500,63.176430,NFLX,2014-06-22,"[{'crawlDate': '2019-03-26T10:44:54.191679Z', ...",The original Apple TV finally gets a rebrand S...,https://thefly.com/permalinks/entry.php/id2884...
1,2014-06-23,62.765713,64.277145,61.904285,63.154285,63.154285,76617100,63.090715,NFLX,2014-06-29,"[{'crawlDate': '2019-03-26T10:44:54.191679Z', ...",The original Apple TV finally gets a rebrand S...,https://thefly.com/permalinks/entry.php/id2884...
2,2014-06-30,63.265713,67.981430,62.812859,67.478569,67.478569,77253400,65.397144,NFLX,2014-07-06,"[{'crawlDate': '2019-03-26T10:44:54.191679Z', ...",The original Apple TV finally gets a rebrand S...,https://thefly.com/permalinks/entry.php/id2884...
3,2014-07-07,67.442856,67.461426,61.171429,62.851429,62.851429,104098400,64.316428,NFLX,2014-07-13,"[{'crawlDate': '2019-03-26T10:44:54.191679Z', ...",The original Apple TV finally gets a rebrand S...,https://thefly.com/permalinks/entry.php/id2884...
4,2014-07-14,63.328571,65.099998,62.250000,63.452858,63.452858,69405000,63.674999,NFLX,2014-07-20,"[{'crawlDate': '2019-03-26T10:44:54.191679Z', ...",The original Apple TV finally gets a rebrand S...,https://thefly.com/permalinks/entry.php/id2884...

Working on TSLA.csv
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Finished TSLA.csv

,Date,Open,High,Low,Close,Adj Close,Volume,Average,Ticker,End,JSON,ArticleMeta,URLS
0,2014-06-16,228.880005,235.309998,226.199997,229.589996,229.589996,13697000,230.754998,TSLA,2014-06-22,"[{'crawlDate': '2019-03-26T09:01:53.018205Z', ...",Judge Dismisses Lawsuit Against Tesla Regardin...,https://www.mareainformativa.com/news/2019/03/...
1,2014-06-23,229.509995,241.880005,228.220001,239.059998,239.059998,32425000,235.050003,TSLA,2014-06-29,"[{'crawlDate': '2019-03-26T09:01:53.018205Z', ...",Judge Dismisses Lawsuit Against Tesla Regardin...,https://www.mareainformativa.com/news/2019/03/...
2,2014-06-30,239.550003,244.490005,224.000000,229.250000,229.250000,22358800,234.245002,TSLA,2014-07-06,"[{'crawlDate': '2019-03-26T09:01:53.018205Z', ...",Judge Dismisses Lawsuit Against Tesla Regardin...,https://www.mareainformativa.com/news/2019/03/...
3,2014-07-07,227.500000,229.779999,214.270004,218.130005,218.130005,26011500,222.025002,TSLA,2014-07-13,"[{'crawlDate': '2019-03-26T09:01:53.018205Z', ...",Judge Dismisses Lawsuit Against Tesla Regardin...,https://www.mareainformativa.com/news/2019/03/...
4,2014-07-14,219.990005,228.789993,213.600006,220.020004,220.020004,25869300,221.195000,TSLA,2014-07-20,"[{'crawlDate': '2019-03-26T09:01:53.018205Z', ...",Judge Dismisses Lawsuit Against Tesla Regardin...,https://www.mareainformativa.com/news/2019/03/...

Working on WMT.csv
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Working on a <class 'dict'> of length 9
Finished WMT.csv

,Date,Open,High,Low,Close,Adj Close,Volume,Average,Ticker,End,JSON,ArticleMeta,URLS
0,2014-06-16,75.879997,76.279999,75.120003,75.680000,66.598412,16586000,75.700001,WMT,2014-06-22,"[{'crawlDate': '2019-03-26T10:49:45.717585Z', ...",Amazon and Worldpay Partnership for AmazonPay ...,https://247wallst.com/services/2019/03/26/how-...
1,2014-06-23,75.559998,76.209999,74.669998,75.339996,66.299225,35120800,75.439998,WMT,2014-06-29,"[{'crawlDate': '2019-03-26T10:49:45.717585Z', ...",Amazon and Worldpay Partnership for AmazonPay ...,https://247wallst.com/services/2019/03/26/how-...
2,2014-06-30,75.400002,76.050003,74.750000,75.750000,66.660011,20499100,75.400002,WMT,2014-07-06,"[{'crawlDate': '2019-03-26T10:49:45.717585Z', ...",Amazon and Worldpay Partnership for AmazonPay ...,https://247wallst.com/services/2019/03/26/how-...
3,2014-07-07,75.690002,77.570000,75.550003,76.820000,67.601616,29148600,76.560001,WMT,2014-07-13,"[{'crawlDate': '2019-03-26T10:49:45.717585Z', ...",Amazon and Worldpay Partnership for AmazonPay ...,https://247wallst.com/services/2019/03/26/how-...
4,2014-07-14,77.129997,77.250000,76.440002,77.089996,67.839203,22747600,76.845001,WMT,2014-07-20,"[{'crawlDate': '2019-03-26T10:49:45.717585Z', ...",Amazon and Worldpay Partnership for AmazonPay ...,https://247wallst.com/services/2019/03/26/how-...