In [1]:
import pandas as pd

In [2]:
nyse = pd.read_csv("c1.csv")
nyse.head()

,Symbol,Name,LastSale,MarketCap,IPOyear,Sector,industry,Summary Quote,Unnamed: 8
0,YI,"111, Inc.",3.9000,$318.47M,2018.0,Health Care,Medical/Nursing Services,https://www.nasdaq.com/symbol/yi,NaN
1,PIH,"1347 Property Insurance Holdings, Inc.",5.0500,$30.36M,2014.0,Finance,Property-Casualty Insurers,https://www.nasdaq.com/symbol/pih,NaN
2,PIHPP,"1347 Property Insurance Holdings, Inc.",25.5792,$17.91M,NaN,Finance,Property-Casualty Insurers,https://www.nasdaq.com/symbol/pihpp,NaN
3,TURN,180 Degree Capital Corp.,1.9600,$61M,NaN,Finance,Finance/Investors Services,https://www.nasdaq.com/symbol/turn,NaN
4,FLWS,"1-800 FLOWERS.COM, Inc.",19.5800,$1.26B,1999.0,Consumer Services,Other Specialty Stores,https://www.nasdaq.com/symbol/flws,NaN

In [3]:
nasdaq = pd.read_csv("c2.csv")
nasdaq.head()

,Symbol,Name,LastSale,MarketCap,IPOyear,Sector,industry,Summary Quote,Unnamed: 8
0,DDD,3D Systems Corporation,9.02,$1.05B,NaN,Technology,Computer Software: Prepackaged Software,https://www.nasdaq.com/symbol/ddd,NaN
1,MMM,3M Company,174.72,$100.51B,NaN,Health Care,Medical/Dental Instruments,https://www.nasdaq.com/symbol/mmm,NaN
2,WBAI,500.com Limited,11.17,$478.23M,2013.0,Consumer Services,Services-Misc. Amusement & Recreation,https://www.nasdaq.com/symbol/wbai,NaN
3,WUBA,58.com Inc.,56.38,$8.38B,2013.0,Technology,"Computer Software: Programming, Data Processing",https://www.nasdaq.com/symbol/wuba,NaN
4,EGHT,8x8 Inc,24.17,$2.4B,NaN,Technology,EDP Services,https://www.nasdaq.com/symbol/eght,NaN

In [4]:
amex = pd.read_csv("c3.csv")
amex.head()

,Symbol,Name,LastSale,MarketCap,IPOyear,Sector,industry,Summary Quote,Unnamed: 8
0,XXII,"22nd Century Group, Inc",1.59,$198.21M,NaN,Consumer Non-Durables,Farming/Seeds/Milling,https://www.nasdaq.com/symbol/xxii,NaN
1,FAX,Aberdeen Asia-Pacific Income Fund Inc,4.22,$1.05B,1986.0,NaN,NaN,https://www.nasdaq.com/symbol/fax,NaN
2,IAF,Aberdeen Australia Equity Fund Inc,5.47,$124.4M,NaN,NaN,NaN,https://www.nasdaq.com/symbol/iaf,NaN
3,AEF,"Aberdeen Emerging Markets Equity Income Fund, ...",7.28,$369.47M,NaN,NaN,NaN,https://www.nasdaq.com/symbol/aef,NaN
4,FCO,"Aberdeen Global Income Fund, Inc.",8.62,$75.21M,1992.0,NaN,NaN,https://www.nasdaq.com/symbol/fco,NaN

In [5]:
df = pd.concat([nasdaq, nyse])
df.head()

,Symbol,Name,LastSale,MarketCap,IPOyear,Sector,industry,Summary Quote,Unnamed: 8
0,DDD,3D Systems Corporation,9.02,$1.05B,NaN,Technology,Computer Software: Prepackaged Software,https://www.nasdaq.com/symbol/ddd,NaN
1,MMM,3M Company,174.72,$100.51B,NaN,Health Care,Medical/Dental Instruments,https://www.nasdaq.com/symbol/mmm,NaN
2,WBAI,500.com Limited,11.17,$478.23M,2013.0,Consumer Services,Services-Misc. Amusement & Recreation,https://www.nasdaq.com/symbol/wbai,NaN
3,WUBA,58.com Inc.,56.38,$8.38B,2013.0,Technology,"Computer Software: Programming, Data Processing",https://www.nasdaq.com/symbol/wuba,NaN
4,EGHT,8x8 Inc,24.17,$2.4B,NaN,Technology,EDP Services,https://www.nasdaq.com/symbol/eght,NaN

In [6]:
df.shape

(6634, 9)

In [7]:
df = df.rename({"Symbol": "Ticker"}, axis=1)
df = df[["Ticker", "Sector", "industry", "Name"]]
df.head()

,Ticker,Sector,industry,Name
0,DDD,Technology,Computer Software: Prepackaged Software,3D Systems Corporation
1,MMM,Health Care,Medical/Dental Instruments,3M Company
2,WBAI,Consumer Services,Services-Misc. Amusement & Recreation,500.com Limited
3,WUBA,Technology,"Computer Software: Programming, Data Processing",58.com Inc.
4,EGHT,Technology,EDP Services,8x8 Inc

In [8]:
df.to_csv("ticker_translate.csv")

In [9]:
pd.read_csv("ticker_translate.csv").head()

,Unnamed: 0,Ticker,Sector,industry,Name
0,0,DDD,Technology,Computer Software: Prepackaged Software,3D Systems Corporation
1,1,MMM,Health Care,Medical/Dental Instruments,3M Company
2,2,WBAI,Consumer Services,Services-Misc. Amusement & Recreation,500.com Limited
3,3,WUBA,Technology,"Computer Software: Programming, Data Processing",58.com Inc.
4,4,EGHT,Technology,EDP Services,8x8 Inc