In [1]:
import pandas as pd

In [3]:
nyse = pd.read_csv("ticker_translate.csv")
nyse.head()

,Ticker,Name,Sector,Industry
0,A,Agilent Technologies Inc.,Healthcare,Medical Laboratories & Research
1,AA,Alcoa Inc.,Basic Materials,Aluminum
2,AAME,Atlantic American Corp.,Financial,Life Insurance
3,AAN,"Aaron's, Inc.",Services,Rental & Leasing Services
4,AAON,AAON Inc.,Industrial Goods,General Building Materials

In [7]:
nasdaq = pd.read_csv("companylist.csv")[["Symbol", "Name", "Sector", "Industry"]]
nasdaq.columns = ["Ticker", "Name", "Sector", "Industry"]
nasdaq.head()

,Ticker,Name,Sector,Industry
0,YI,"111, Inc.",Health Care,Medical/Nursing Services
1,PIH,"1347 Property Insurance Holdings, Inc.",Finance,Property-Casualty Insurers
2,PIHPP,"1347 Property Insurance Holdings, Inc.",Finance,Property-Casualty Insurers
3,TURN,180 Degree Capital Corp.,Finance,Finance/Investors Services
4,FLWS,"1-800 FLOWERS.COM, Inc.",Consumer Services,Other Specialty Stores

In [11]:
df = pd.concat([nasdaq, nyse])
df.head()

,Ticker,Name,Sector,Industry
0,YI,"111, Inc.",Health Care,Medical/Nursing Services
1,PIH,"1347 Property Insurance Holdings, Inc.",Finance,Property-Casualty Insurers
2,PIHPP,"1347 Property Insurance Holdings, Inc.",Finance,Property-Casualty Insurers
3,TURN,180 Degree Capital Corp.,Finance,Finance/Investors Services
4,FLWS,"1-800 FLOWERS.COM, Inc.",Consumer Services,Other Specialty Stores

In [12]:
df.shape

(6882, 4)

In [13]:
nasdaq.shape

(3543, 4)

In [14]:
nyse.shape

(3339, 4)

In [15]:
df.to_csv("ticker_translate.csv")

In [17]:
pd.read_csv("ticker_translate.csv").shape

(6882, 5)